<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ORT" value="https://pkgs.dev.azure.com/aiinfra/PublicPackages/_packaging/ORT/nuget/v3/index.json" />
    <add key="ORT-Nightly" value="https://pkgs.dev.azure.com/aiinfra/PublicPackages/_packaging/ORT-Nightly/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ORT>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </ORT>
    <ORT-Nightly>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </ORT-Nightly>
  </packageSourceCredentials>

</configuration>
