<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultTlsVersions" value="1.2,1.3" />
  </config>
  <packageSources>
    <clear />
    <!-- 
    Error due to this rule if we have 2 feeds.
    https://eng.ms/docs/coreai/devdiv/one-engineering-system-1es/1es-docs/secure-supply-chain/secure-supply-chain-analysis-task/cfs-detectors/nuget/cfs-nuget#multiple-feeds-declared

    When we switch to a non-dev FL Core package we should change back to the main Neutron feed as we don't want to be 
    using a test feed to build production packages.
    
    <add key="Neutron" value="https://pkgs.dev.azure.com/microsoft/windows.ai.toolkit/_packaging/Neutron/nuget/v3/index.json" />
    -->
    <add key="NeutronTest" value="https://pkgs.dev.azure.com/microsoft/windows.ai.toolkit/_packaging/NeutronTest/nuget/v3/index.json" />
  </packageSources>
</configuration>